boto3
cairosvg
click-odoo
dropbox
lottie
lxml_html_clean
markdown
nextcloud-api-wrapper
odooly
openai
openupgradelib
pw_zoomus
paramiko
pyncclient
PyPDF2
pyOpenSSL
html2text
pysftp
python-telegram-bot 