http:
  # Add the router
  routers:
    {{ odoo_domain_name }}_websocket:
      entryPoints:
      - web
      - websecure
      service: {{ odoo_domain_name }}_websocket_service
      rule: Path(`/websocket`) && Host(`{{ odoo_domain_name }}`) 
      tls:
        certResolver: le_resolver
  services:
    {{ odoo_domain_name }}_websocket_service:
      loadBalancer:
        servers:
          -  url: "http://{{odoo_domain_name}}:{{ odoo_websocket_port }}"
